.CommentCard{
        display: flex;
        height: 180px;
        margin: 0 0 1.25rem 0;
        /*border: 2px solid hsl(220, 13%, 50%); */
        box-shadow: 0 12px 24px 0 hsl(220, 13%, 88%), 0 3px 9px 0 hsl(220, 13%, 94%);
        border-radius: 0.5rem;
        overflow: hidden;    
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.nav{
    text-align: center;
}